body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    display: flex;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section-heading,
.section-info,
.skill-text,
.experience-item,
.interest-item {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typewriter 3s steps(30) 2s forwards;
    transition: width 1s ease;
}

@keyframes typewriter {
    to {
        width: 100%;
    }
}

.main-container {
    display: flex;
    flex-direction: column;

}

.header {
    border: 1px solid #000;
    background: linear-gradient(180deg, rgba(28, 2, 62, 0.61) 2.92%, rgba(49, 21, 83, 0.56) 23.23%, rgba(145, 130, 152, 0.11) 99.99%, rgba(141, 139, 139, 0) 100%);
    backdrop-filter: blur(2px);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 85px 85px 0;
}

.header img {
    aspect-ratio: 1.35;
    width: 165px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 50%;
    margin-bottom: -18px;
    justify-content: center;
}

.contact {
    color: #000;
    text-align: center;
    text-decoration-line: none;
    align-self: center;
    margin-top: 23px;
    max-width: 692px;
    font: 400 20px Inter, sans-serif;
    transition: color 0.3s ease;
}

.contact:hover {
    color: #363636;
}

.education,
.objective,
.skills,
.experience,
.interests {
    margin-top: 20px;
}

.section-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.section-info {
    margin-bottom: 5px;
}

.skill-list,
.experience-list,
.interests-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill,
.job,
.interest-item {
    margin-bottom: 5px;
}

.section-heading:hover,
.section-info:hover,
.skill-text:hover,
.experience-item:hover,
.interest-item:hover {
    color: #4b4b4b;
}
.email-link {
    display: inline-block;
    font-size: Monument Extened;
    font-wieght: 300;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.1s linear;
}
.email-link:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}




}


@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }

